/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

h1 {
    font-size: 36px;
}

/* About section */
#about {
    background-color: #f9f9f9;
    padding: 40px;
}

/* Video section */
#video {
    background-color: #f9f9f9;
    padding: 40px;
}

.video {
    max-width: 100%;
}

/* Portfolio section */
#portfolio {
    background-color: #f9f9f9;
    padding: 40px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    flex-basis: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Contact section */
#contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
